.nav {
  background-color: #2d2727;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: auto;
}
.nav > h2 {
  background-color: #2d2727 !important;
}

.white_col{
    color: white;
}

.nav_left{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid white; */
  width: 35%;
  color: white;
}

.nav_left a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-sizing: border-box;
}